@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sheard style */
body {
    font-family: "Raleway", sans-serif;
    background-color: #F5F8FF;
}

.logo,
.users h4,
label {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.section-title {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.section-description {
    color: rgba(37, 36, 50, 0.50);
    font-size: 16px;
}

.text-canter {
    text-align: center;
}

/* header style */
header {
    height: 698px;
    background-image: url("../Assets/Hero-bg.png");
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo {
    color: var(--Primary-Color, #4E47FF);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
}

/* banner style */
.banner {
    padding: 155px 0;
}

.banner-btn {
    display: flex;
    justify-content: center;
}

.banner-title {
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}


/* See It in Action section style */

.See-It-in-Action {
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.See-It-in-Action div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 517px;
    gap: 23px;
}

.See-It-in-Action div .section-description {
    font-size: 24px;
}

.conf-img {
    width: 403px;
    border-radius: 48px;
}

/* Joined-Thousands-of-Productive-Users style */
.Joined-Thousands-of-Productive-Users {
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    border-radius: 24px;
}

.Joined-Thousands-of-Productive-Users .section-title {
    font-size: 38px;
}

.users-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 158px;
}

.users h4 {
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
}

.users p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
}

/* What-our-users-say style */
.What-our-users-say {
    margin-top: 137px;
    margin-bottom: 137px;
}

.reviw-card-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.reviw-card {
    background: rgba(255, 255, 255, 0.50);
    padding: 24px;
    border-radius: 14px;
    border: 1px solid rgba(242, 237, 237, 1);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reviw-title {
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    margin-bottom: 8px;
}

.reviw-description {
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
}

.reviwer {
    display: flex;
    align-items: center;

}

.reviwer img {
    border-radius: 100%;
    margin-right: 10px;
}

.revewar-name {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 600;
}

.reviwer .date {
    color: rgba(179, 179, 179, 1);
    font-size: 16px;
}

/* Ready to focus better style */
.Ready-to-focus-better {
    background: #FFF;
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
}

.Ready-to-focus-better .section-title {
    font-size: 50px;
}

.Ready-to-focus-better img {
    border-radius: 48px;
}

.Let’s-Get-in-Touch-container {
    padding: 71px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Let’s-Get-in-Touch-container .section-title {
    font-size: 95px;
}

.contact-from {
    width: 497px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-from div label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.contact-from input[type="email"],
.contact-from input[type="text"],
.contact-from textarea {
    background: #FFF;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* footer style */
footer {
    background: #FFF;
    padding: 105px 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

footer .logo{
    font-size: 100px;
}

footer ul li {
    list-style: none;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.nav-item {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}